@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Radley:ital@0;1&display=swap");
@import "tailwindcss";

@theme {
  --font-heading: "Radley", serif;
  --font-body: "Google Sans", sans-serif;
  --font-mono: "Google Sans Code", monospace;

  --color-dark: oklch(21% 0.006 285.885);
  --color-dark-mid: oklch(0.389 0.01 285.97);
  --color-dark-muted: oklch(70.5% 0.015 286.067);

  --color-darkbrown: oklch(0.233 0.014 81.59);
  --color-mutedbrown: oklch(0.413 0.026 83.12);
  --color-lightbrown: oklch(0.914 0.029 79.46);

  --color-warmwhite: oklab(97.706% 0.00119 0.00716);

  --color-brand-50: oklch(0.966 0.017 50.48);
  --color-brand-100: oklch(0.933 0.034 50.23);
  --color-brand-200: oklch(0.858 0.082 55.52);
  --color-brand-300: oklch(0.793 0.137 61.82);
  --color-brand-400: oklch(0.724 0.144 64.26);
  --color-brand-500: oklch(0.649 0.128 64.42);
  --color-brand-600: oklch(0.55 0.109 64.19);
  --color-brand-700: oklch(0.445 0.088 64.16);
  --color-brand-800: oklch(0.342 0.068 65.05);
  --color-brand-900: oklch(0.245 0.049 65.4);
  --color-brand-950: oklch(0.19 0.037 65.87);
}

@layer components {
  .btn {
    @apply inline-block items-center justify-center gap-2 px-10 py-3 border cursor-pointer font-mono text-sm uppercase transition duration-150 ease-in-out;
  }

  .btn-primary {
    @apply bg-brand-500 border-brand-500 text-dark hover:bg-brand-600 hover:border-brand-600;
  }

  .btn-secondary {
    @apply border-white text-white hover:border-brand-500 hover:text-brand-500;
  }

  .btn-dark {
    @apply bg-darkbrown border-darkbrown text-white hover:bg-mutedbrown hover:border-mutedbrown;
  }
}

body {
  background-color: var(--color-warmwhite);
  color: var(--color-dark);
  font-family: var(--font-body);
}
